@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Museo de Arte Tecnologica</h1>
        <p class="lead">Bienvenido al Museo de Arte Tecnologica. Deseas Aprender de las mejores areas? Make a reservation.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Contactanos</h2>
            <p>
                Si quieres tener mas informacion acerca de nuestro mueseo y de las cosas que te podemos mostrar no dejes de dejarnos un mensaje
                contactarte con un representante, te atenderemos imediatamente.
            </p>
            <p><a class="btn btn-default" href="Contactos/Index">Contactanos</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Visitanos</h2>
                <p>
                    Solicita tu visita al Museo
                </p>
                <p><a class="btn btn-default" href="Visitas/Index">Reservar Visita</a></p>

            </div>
